.main-bg {
  background-color: #f5fbfd;
}

.main-body {
  background: linear-gradient(180deg, #c8e3f9 0%, #f2f9ff 100%);
  min-height: 100vh;
}

/** [定位] 边距 */
.ml-1 {
  margin-left: 10rpx;
}

.ml-2 {
  margin-left: 20rpx;
}

.ml-3 {
  margin-left: 30rpx;
}

.ml-4 {
  margin-left: 40rpx;
}

.ml-45 {
  margin-left: 45rpx;
}

.ml-5 {
  margin-left: 50rpx;
}

.ml-6 {
  margin-left: 60rpx;
}

.ml-7 {
  margin-left: 70rpx;
}

.ml-8 {
  margin-left: 80rpx;
}

.ml-9 {
  margin-left: 90rpx;
}

.ml-10 {
  margin-left: 100rpx;
}

.mr-1 {
  margin-right: 10rpx;
}

.mr-2 {
  margin-right: 20rpx;
}

.mr-3 {
  margin-right: 30rpx;
}

.mr-4 {
  margin-right: 40rpx;
}

.mr-5 {
  margin-right: 50rpx;
}

.mr-6 {
  margin-right: 60rpx;
}

.mr-7 {
  margin-right: 70rpx;
}

.mr-8 {
  margin-right: 80rpx;
}

.mr-9 {
  margin-right: 90rpx;
}

.mr-10 {
  margin-right: 100rpx;
}

.mt-05 {
  margin-top: 5rpx;
}
.mt-1 {
  margin-top: 10rpx;
}

.mt-2 {
  margin-top: 20rpx;
}

.mt-3 {
  margin-top: 30rpx;
}

.mt-33 {
  margin-top: 33rpx;
}

.mt-37 {
  margin-top: 37rpx;
}

.mt-4 {
  margin-top: 40rpx;
}

.mt-5 {
  margin-top: 50rpx;
}

.mt-6 {
  margin-top: 60rpx;
}

.mt-7 {
  margin-top: 70rpx;
}

.mt-8 {
  margin-top: 80rpx;
}

.mt-9 {
  margin-top: 90rpx;
}

.mt-10 {
  margin-top: 100rpx;
}

.mb-1 {
  margin-bottom: 10rpx;
}

.mb-2 {
  margin-bottom: 20rpx;
}

.mb-3 {
  margin-bottom: 30rpx;
}

.mb-4 {
  margin-bottom: 40rpx;
}

.mb-5 {
  margin-bottom: 50rpx;
}

.pl-1 {
  padding-left: 10rpx;
}

.pl-2 {
  padding-left: 20rpx;
}

.pl-3 {
  padding-left: 30rpx;
}

.pl-4 {
  padding-left: 40rpx;
}

.pl-5 {
  padding-left: 50rpx;
}

.pr-1 {
  padding-right: 10rpx;
}

.pr-2 {
  padding-right: 20rpx;
}

.pr-3 {
  padding-right: 30rpx;
}

.pr-4 {
  padding-right: 40rpx;
}

.pr-5 {
  padding-right: 50rpx;
}

.pt-1 {
  padding-top: 10rpx;
}

.pt-2 {
  padding-top: 20rpx;
}

.pt-3 {
  padding-top: 30rpx;
}

.pt-4 {
  padding-top: 40rpx;
}

.pt-5 {
  padding-top: 50rpx;
}

.pt-6 {
  padding-top: 60rpx;
}

.pt-7 {
  padding-top: 70rpx;
}

.pt-8 {
  padding-top: 80rpx;
}

.pt-9 {
  padding-top: 90rpx;
}

.pt-10 {
  padding-top: 100rpx;
}

.pt-460 {
  padding-top: 460rpx;
}

.pt-568 {
  padding-top: 568rpx;
}

.pt-592 {
  padding-top: 592rpx;
}

.pb-1 {
  padding-bottom: 10rpx;
}

.pb-2 {
  padding-bottom: 20rpx;
}

.pb-3 {
  padding-bottom: 30rpx;
}

.pb-4 {
  padding-bottom: 40rpx;
}

.pb-5 {
  padding-bottom: 50rpx;
}

.px-1 {
  padding-left: 10rpx;
  padding-right: 10rpx;
}

.px-15 {
  padding-left: 15rpx;
  padding-right: 15rpx;
}

.px-2 {
  padding-left: 20rpx;
  padding-right: 20rpx;
}

.px-3 {
  padding-left: 30rpx;
  padding-right: 30rpx;
}

.px-4 {
  padding-left: 40rpx;
  padding-right: 40rpx;
}

.px-5 {
  padding-left: 50rpx;
  padding-right: 50rpx;
}

.px-55 {
  padding-left: 50rpx;
  padding-right: 50rpx;
}

.py-1 {
  padding-top: 10rpx;
  padding-bottom: 10rpx;
}

.py-2 {
  padding-top: 20rpx;
  padding-bottom: 20rpx;
}

.py-3 {
  padding-top: 30rpx;
  padding-bottom: 30rpx;
}

.py-4 {
  padding-top: 40rpx;
  padding-bottom: 40rpx;
}

.py-5 {
  padding-top: 50rpx;
  padding-bottom: 50rpx;
}

/* 布局 */
.grid {
  display: grid;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-direction-column {
  flex-direction: column;
}

.align-item-center {
  align-items: center;
}

.align-item-start {
  align-items: flex-start;
}

.align-item-end {
  align-items: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-start {
  justify-content: flex-start;
}

.w-100 {
  width: 100vw;
}

.w-320 {
  width: 320rpx;
}
.w-395 {
  width: 395rpx;
}
.w-400 {
  width: 400rpx;
}

.o-x-auto {
  overflow-x: auto;
}

/** 文字颜色 */
.t-color-fff {
  color: #ffffff;
}

.t-color-DC0C0C {
  color: #dc0c0c;
}

.t-color-C40000 {
  color: #c40000;
}

.t-color-43A71C {
  color: #43a71c;
}

.t-color-999 {
  color: #999999;
}

.t-color-2D6CDA {
  color: #2d6cda;
}

.t-color-ED7E1F {
  color: #ed7e1f;
}
.t-color-2A67D2 {
  color: #2a67d2;
}

.t-color-666 {
  color: #666666;
}

.t-color-333 {
  color: #333333;
}

.t-color-000 {
  color: #000000;
}

.t-color-04babe {
  color: #04babe;
}

.t-color-f4c265 {
  color: #f4c265;
}

.t-color-FFAB2D {
  color: #ffab2d;
}

.t-color-E4483C {
  color: #e4483c;
}

.t-color-BFBFBF {
  color: #bfbfbf;
}

.t-color-3D3D3D {
  color: #3d3d3d;
}

.t-color-E0672F {
  color: #e0672f;
}

.t-color-1a9bff {
  color: #1a9bff;
}

.t-color-FF0000 {
  color: #c40000;
}

.t-color-6a6a6a {
  color: #6a6a6a;
}

.t-color-595959 {
  color: #595959;
}

.t-color-818181 {
  color: #818181;
}

.t-color-7AA9FC {
  color: #7aa9fc;
}

.t-color-3A73D9 {
  color: #3a73d9;
}

.t-color-6a6a6a {
  color: #6a6a6a;
}

.t-color-8A8A8A {
  color: #8a8a8a;
}

.t-color-9F9F9F {
  color: #9f9f9f;
}

.t-color-E1461D {
  color: #e1461d;
}

.t-color-fea831 {
  color: #fea831;
}

.t-color-d9d9d9 {
  color: #d9d9d9;
}

.t-color-AEAEAE {
  color: #aeaeae;
}

.t-color-1863E5 {
  color: #1863e5;
}

.t-color-E77415 {
  color: #e77415;
}

.t-color-e79315 {
  color: #e79315;
}

.t-color-6D6D6D {
  color: #6d6d6d;
}

.t-color-636363 {
  color: #636363;
}

.t-color-24A800 {
  color: #24a800;
}

.t-color-878787 {
  color: #878787;
}

.t-color-DC0C0C {
  color: #dc0c0c;
}

.bg-white {
  background-color: #ffffff;
}

.bg-gray {
  background-color: #d8d8d8;
}

.bg-orange {
  background-color: #ffb443;
}

.bg-blue {
  background-color: #1863e5;
}
.bg-white {
  background-color: #ffffff;
}

.radio-5 {
  border-radius: 5rpx;
}
.radio-10 {
  border-radius: 10rpx;
}
.radio-15 {
  border-radius: 15rpx;
}
.radio-20 {
  border-radius: 20rpx;
}

/** 文字大小 */
.t-size-48 {
  font-size: 48rpx;
}

.t-size-46 {
  font-size: 46rpx;
}

.t-size-40 {
  font-size: 40rpx;
}

.t-size-36 {
  font-size: 36rpx;
}

.t-size-34 {
  font-size: 34rpx;
}

.t-size-32 {
  font-size: 32rpx;
}

.t-size-30 {
  font-size: 30rpx;
}

.t-size-28 {
  font-size: 28rpx;
}

.t-size-26 {
  font-size: 26rpx;
}

.t-size-24 {
  font-size: 24rpx;
}

.t-size-22 {
  font-size: 22rpx;
}

.t-size-20 {
  font-size: 20rpx;
}

.t-size-18 {
  font-size: 18rpx;
}

.t-size-16 {
  font-size: 16rpx;
}

.t-size-14 {
  font-size: 14rpx;
}

.t-size-12 {
  font-size: 12rpx;
}

.t-size-10 {
  font-size: 10rpx;
}

/*行高*/
.t-line-48 {
  line-height: 48rpx;
}

.t-line-46 {
  line-height: 46rpx;
}

.t-line-40 {
  line-height: 40rpx;
}

.t-line-36 {
  line-height: 36rpx;
}

.t-line-32 {
  line-height: 32rpx;
}

.t-line-30 {
  line-height: 30rpx;
}

.t-line-28 {
  line-height: 28rpx;
}

.t-line-24 {
  line-height: 24rpx;
}

.t-line-20 {
  line-height: 20rpx;
}

.t-line-18 {
  line-height: 18rpx;
}

.t-line-16 {
  line-height: 16rpx;
}

.t-line-14 {
  line-height: 14rpx;
}
.t-italic {
  font-style: italic;
}
.font-weight-bold {
  font-weight: bold;
}

.font-w-5 {
  font-weight: 500;
}

.font-w-4 {
  font-weight: 400;
}

.border-box {
  box-sizing: border-box;
}

.cursor-pointer {
  cursor: pointer;
}

.position-relative {
  position: relative;
}

.text-center {
  text-align: center;
}

/** [表格主题样式一] 表格强制列不换行 */
.table-nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/** [表格主题样式一] 表格强制列不换行 */
.table-nowrap-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
